<a routerLinkActive="active" routerLink="/home">home</a> |
<a routerLinkActive="active" routerLink="/contact">contact</a> |
<a routerLinkActive="active" routerLink="/about">about</a> |
<a routerLinkActive="active" routerLink="/product-detail/first"> product-detail first</a> |
<a routerLinkActive="active" [routerLink]="route"> product-detail second</a> |
<a routerLinkActive="active" routerLink="/parent"> parent component</a> |
<a routerLink="query-string" [queryParams]="queryString">query-string component</a>
<br>
<router-outlet></router-outlet>